.protocol-lines {
    font-weight: 600;
    font-size: clamp(var(--type-title-large), var(--size-3-2vw), var(--type-display-medium));
    line-height: var(--size-120pct);
    letter-spacing: var(--size-2);
}

.protocol-line {
    margin: var(--size-8) var(--size-0);
}

.protocol-joke {
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
    opacity: var(--opacity-strong);
}

.desktop > .list > .app {
    align-items: center;
    justify-content: flex-start;
    min-width: var(--size-800);
    max-width: var(--size-full);
    padding-top: var(--size-160);
    padding-bottom: var(--size-160);
    gap: var(--size-16);
    text-align: center;
    cursor: pointer;
}

.app:focus,
.app:focus-visible {
    outline: none;
}

.app .app-headline {
    min-height: var(--app-headline-min-height, var(--size-0));
    font-weight: 600;
    font-size: var(--type-display-small);
    letter-spacing: var(--size-4);
    cursor: pointer;
}

.app .app-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    min-height: var(--app-sub-min-height, var(--size-0));
    line-height: 1.5;
    cursor: pointer;
    opacity: var(--opacity-soft);
}

.app .app-sub p {
    --app-sub-min-width: var(--size-400);
    --app-sub-align: center;

    min-width: var(--app-sub-min-width);
    margin: var(--size-0);
    text-align: var(--app-sub-align);
}

.app .app-sub p + p {
    margin-top: var(--size-8);
}

.app .app-sub p:nth-child(1) {
    --app-sub-min-width: var(--size-800);
    --app-sub-align: left;
}

.app .app-sub p:nth-child(2) {
    --app-sub-min-width: var(--size-600);
    --app-sub-align: center;
}

.app .app-sub p:nth-child(3) {
    --app-sub-min-width: var(--size-400);
    --app-sub-align: right;
}

.desktop > .list > .app .store.store-bottom {
    position: relative;
    bottom: auto;
    margin-top: auto;
}
