.main-text {
    z-index: var(--z-content);
    position: absolute;
    --main-text-top: var(--size-120);
    --main-text-size: var(--type-display-large);
    --main-text-line: var(--size-90pct);
    --main-text-row-width: var(--size-80);
    top: var(--main-text-top);
    left: var(--size-50pct);
    transform: translateX(calc(var(--size-50pct) * -1));
    font-weight: 700;
    font-size: var(--main-text-size);
    line-height: var(--main-text-line);
    text-align: center;
    text-shadow: var(--size-2) var(--size-2) var(--size-4) var(--color-black-3);
}

.main-text-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: var(--size-full);
}

.main-text-row div {
    width: var(--main-text-row-width);
    text-align: center;
}

.main-text-sub {
    display: flex;
    justify-content: center;
    gap: var(--size-20);
    margin-top: var(--size-40);
    font-weight: 600;
    font-size: var(--type-body-large);
    line-height: var(--size-120pct);
    letter-spacing: var(--size-2);
    text-transform: uppercase;
    opacity: var(--opacity-faint);
}

.main-text-sub-word {
    display: inline-flex;
    gap: var(--size-0);
}

.main-text-sub .glitch-letter {
    display: inline-block;
    width: auto;
    text-align: center;
}
