.parallax {
    z-index: var(--z-parallax);
    position: fixed;
    left: 50%;

    /* --parallax-x-size: min(100vw, max(0px, calc(100dvh - 200px))); */
    --parallax-x-size: 100dvw;
    --parallax-y-size: 100dvh;

    width: var(--parallax-x-size);
    height: var(--parallax-y-size);
    overflow: hidden;
    transform: translateX(-50%);
    pointer-events: none;
}

.parallax-layer {
    position: absolute;
    width: var(--size-full);
    height: var(--size-full);
    inset: var(--size-0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

.parallax-svg {
    display: block;
    width: var(--size-full);
    height: var(--size-full);
}
