.social {
    display: flex;
    z-index: var(--z-social);
    position: absolute;
    bottom: var(--size-20);
    flex-direction: row;
    justify-content: center;
    width: var(--size-full);
}

.social > div {
    padding: var(--size-20);
    opacity: var(--opacity-muted);
}

.social > div:hover {
    opacity: var(--opacity-full);
}

.social > div > a {
    color: var(--color-white-solid);
}
