.social {
    display: flex;
    z-index: 4;
    position: absolute;
    bottom: var(--size-20px);
    flex-direction: row;
    justify-content: center;
    width: var(--size-full);
}

.social > div {
    padding: var(--size-20px);
    opacity: 0.7;
}

.social > div:hover {
    opacity: 1;
}

.social > div > a {
    color: var(--color-white-solid);
}
