.store {
    display: flex;
    z-index: var(--z-store);
    position: absolute;
    right: var(--size-0);
    bottom: var(--size-96);
    left: var(--size-0);
    --store-height: var(--size-80);
    --store-img-height: var(--size-80);
    --store-img-padding: var(--size-12);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--store-height);
    transition: var(--transition-store);
}

.store-main {
    align-items: center;
    justify-content: center;
}

.store.store-bottom {
    position: absolute;
    right: var(--size-0);
    bottom: var(--size-200);
    left: var(--size-0);
    margin-top: var(--size-0);
}

.store img {
    display: block;
    width: auto;
    height: var(--store-img-height);
    cursor: pointer;
    transition: var(--transition-all-fast);
}

.ios-store img {
    padding: var(--store-img-padding);
}

.store img:hover {
    transform: scale(1.05);
}

.store.is-hidden {
    transform: translateY(var(--size-8));
    opacity: var(--opacity-hidden);
    pointer-events: none;
}
