.three-body {
    display: flex;
    z-index: var(--z-parallax);
    position: absolute;
    align-items: center;
    justify-content: center;
    inset: var(--size-0);
    pointer-events: none;
}

.three-body-canvas {
    display: block;
    width: var(--size-full);
    height: var(--size-full);
}
