* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: var(--size-full);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: var(--size-0);
    background-color: var(--color-black);
    color: var(--color-white-solid);
    font-size: var(--type-body-large);
    font-family: var(--font);
    letter-spacing: var(--size-1);
    user-select: none;
    -webkit-tap-highlight-color: var(--color-black-0);
    overscroll-behavior: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    -webkit-user-drag: none;
}
