@font-face {
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/Titillium/TitilliumWeb-ExtraLight.ttf') format('truetype');
    font-family: 'Titillium Web';
    font-display: swap;
}

@font-face {
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Titillium/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-family: 'Titillium Web';
    font-display: swap;
}
