:root {
    color-scheme: dark;

    --color-red: rgb(157 16 40);
    --color-red-light: rgb(183 9 39);
    --color-black: rgb(0 0 11 / 100%);
    --color-black-light: #455d7a;
    --color-white: rgb(227 227 227 / 80%);
    --color-white-bright: #f1f1f1;
    --color-white-solid: #fff;
    --color-black-solid: #000;
    --color-transparent: transparent;
    --color-cyan-11: rgb(0 220 255 / 11%);
    --color-cyan-14: rgb(0 220 255 / 14%);
    --color-cyan-03: rgb(0 220 255 / 3%);
    --color-cyan-065: rgb(0 220 255 / 6.5%);
    --color-cyan-055: rgb(0 220 255 / 5.5%);
    --color-cyan-12: rgb(0 220 255 / 12%);
    --color-cyan-075: rgb(0 220 255 / 7.5%);
    --color-cyan-02: rgb(0 220 255 / 2%);
    --color-red-075: rgb(157 16 40 / 7.5%);
    --color-red-16: rgb(157 16 40 / 16%);
    --color-red-03: rgb(157 16 40 / 3%);
    --color-red-065: rgb(157 16 40 / 6.5%);
    --color-red-016: rgb(157 16 40 / 1.6%);
    --color-black-0: rgb(0 0 0 / 0%);
    --color-black-02: rgb(0 0 0 / 2%);
    --color-black-16: rgb(0 0 0 / 16%);
    --color-black-23: rgb(0 0 0 / 23%);
    --color-black-25: rgb(0 0 0 / 25%);
    --color-black-26: rgb(0 0 0 / 26%);
    --color-black-3: rgb(0 0 0 / 30%);
    --color-black-35: rgb(0 0 0 / 35%);
    --color-black-6: rgb(0 0 0 / 60%);
    --color-black-65: rgb(0 0 0 / 65%);
    --color-black-7: rgb(0 0 0 / 70%);
    --color-black-75: rgb(0 0 0 / 75%);
    --color-black-9: rgb(0 0 0 / 90%);
    --color-white-22: rgb(227 227 227 / 22%);
    --color-white-32: rgb(227 227 227 / 32%);
    --color-white-12: rgb(227 227 227 / 12%);
    --color-white-90: rgb(227 227 227 / 90%);
    --color-white-65: rgb(227 227 227 / 65%);
    --color-white-70: rgb(227 227 227 / 70%);
    --color-white-92: rgb(227 227 227 / 92%);
    --color-blue-213: rgb(19 104 213);
    --bg-top: #1a204f;
    --bg-mid: #0d1235;
    --bg-bottom: #020217;
}
