:root {
    --font: 'Titillium Web', sans-serif;
    --font-normal: 16px;
    --font-small: 12px;
    --font-normal-plus: 22px;
    --font-big: 38px;
    --font-giant: 56px;
    --font-180: 120px;
    --size-0: 0;
    --size-0-1px: 0.1px;
    --size-0-2px: 0.2px;
    --size-1px: 1px;
    --size-1-5px: 1.5px;
    --size-2px: 2px;
    --size-3px: 3px;
    --size-4px: 4px;
    --size-5px: 5px;
    --size-6px: 6px;
    --size-8px: 8px;
    --size-10px: 10px;
    --size-12px: 12px;
    --size-13px: 13px;
    --size-14px: 14px;
    --size-16px: 16px;
    --size-18px: 18px;
    --size-20px: 20px;
    --size-21px: 21px;
    --size-22px: 22px;
    --size-24px: 24px;
    --size-28px: 28px;
    --size-32px: 32px;
    --size-34px: 34px;
    --size-36px: 36px;
    --size-40px: 40px;
    --size-44px: 44px;
    --size-48px: 48px;
    --size-52px: 52px;
    --size-60px: 60px;
    --size-64px: 64px;
    --size-69px: 69px;
    --size-70px: 70px;
    --size-80px: 80px;
    --size-90px: 90px;
    --size-100px: 100px;
    --size-120px: 120px;
    --size-140px: 140px;
    --size-160px: 160px;
    --size-200px: 200px;
    --size-400px: 400px;
    --size-520px: 520px;
    --size-560px: 560px;
    --size-600px: 600px;
    --size-640px: 640px;
    --size-760px: 760px;
    --size-800px: 800px;
    --size-900px: 900px;
    --size-920px: 920px;
    --size-1000px: 1000px;
    --size-full: 100%;
    --size-0pct: 0%;
    --size-12pct: 12%;
    --size-18pct: 18%;
    --size-20pct: 20%;
    --size-34pct: 34%;
    --size-40pct: 40%;
    --size-50pct: 50%;
    --size-52pct: 52%;
    --size-55pct: 55%;
    --size-70pct: 70%;
    --size-72pct: 72%;
    --size-74pct: 74%;
    --size-77pct: 77%;
    --size-90pct: 90%;
    --size-120pct: 120%;
    --size-100dvh: 100dvh;
    --size-3-2vw: 3.2vw;
    --size-6-5vw: 6.5vw;
    --size-8-5vw: 8.5vw;
    --size-14vw: 14vw;
    --logo-pop-dir: 1;
    --logo-pop-max: 10px;
    --logo-pop-press: 2px;
    --logo-pop-expanded: 12px;
}
